@import "queries";


@media (min-width:1200px) {


    * { 
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    
    body {
        font-family: roboto;
    }
    
    /*-----------------------------------*/
    /*---------HEADER----------*/
    /*-----------------------------------*/
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagenes/header.jpeg);
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    
    .header__nav {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    
    .container1 {
        display: grid;
        width: 100%;
        grid-template-columns: 25% auto 25%;
        grid-template-rows: 10% auto 30%;

        /*---------HAMBURGUER-NAV----------*/
        .ham {
            display: none;
            position: absolute;
            /* always keep ham on top of everything */
            z-index: 1000;
            top: 20px;
            right: 20px;
            width: 36px;
            height: 36px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            background-image: url("/css/imagenes/Hamburger_icon_white.svg");
            background-size: 100%;
            color: white;
            }
            
            /* change ham image to close */
            .showClose {
                background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
            }
        
         .navbar {
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(31, 31, 31);
            width: 100vw;
            height: 75vh;
            overflow: hidden;
            color: white;
            /* hide the menu above the screen by default */
            transform: translateY(-100%);
            /* transition adds a little animation when sliding in and out the menu */
            transition: transform 0.2s ease;

            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: center;

                li {
                    a {
                        color: white;
                        padding-bottom: 10px;
                        border-bottom: 2px solid white;
                        text-decoration: none;
                        font-size: 1.2rem;
        
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid white;
                        }
                    }
                }

             
          }
            }
      
            .showNav {
                /* show the menu */
                transform: translateY(0);
            }
      
        /*---------HAMBURGUER-NAV----------*/

    }
    
    .texto__header {
        grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end:2 ;
          justify-self: center;
          align-self: center;
         margin-left: 5%;
         margin-top: 5%;
         margin-top: 15%;
    
         h1 {
            color:  #ead2a1;
            font-weight: 500;
            font-size: 4rem;
            justify-self: center;
            align-self: center;
            margin-right: 200px;
        }
    
        h2 {
            font-weight: 200;
            font-size: 3.5rem;
            color: white;
            margin-right: 125px;
        }
    }
    
    .boton-nav {
        background-color: #2d417e;
        border: none;
        width: 10%;
        height: 100%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
        transition: background-color 0.3s;
    
        &:hover {
            background-color:#27386b;
            border: none;
            width: 10%;
            height: 100%;
            font-size: 1.3rem;
            font-weight: 200;
            text-decoration: none; 
        }
    
        a  {
            text-decoration: none;
        }
    
    } 
    
    .boton-hero {
        color: whitesmoke;
        background-color:#2d417e;
        border: 1px solid #2d417e;
        width: 200px;
        height: 5%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
        padding: 1.5%;
        margin-top: 1.5%;
        transition: background-color 0.3s, border 0.3s;
        cursor: pointer;
    
    
        &:hover {
        
            background-color: transparent;
            border: 1px solid #ead2a1 ;
            width: 200px;
            height: 5%;
            font-size: 1.3rem;
            font-weight: 100;
            text-decoration: none; 
            padding: 1.5%;
            margin-top: 1.5%;
            transition: background-color 0.5s, border 0.5s;
            cursor: pointer;
        }
    
        a  {
            text-decoration: none;
        }
    
    }
    
    /*-----------------------------------*/
    /*---------NAVSS----------*/
    /*-----------------------------------*/
    
    nav {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: center;
        margin-right: 2.5%;
    
        li {
            display: inline-block;
            margin: 25px 30px;  
        }
    
        a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 1.3rem;
            font-weight: 300;
            display: inline-block;
        }
     }
    
     .nav-underline {
        &::after {
            content: " ";
            display: block;
            width: 0;
            height: 2px;
            background: #ead2a1;
            transition: width .4s;
            margin-top: 3px;
        }
    
        &:hover::after {
            margin-top: 3px;
            width: 100%;
            transition: width .4s;
        }
    
     }
    
     /*-----------------------------------*/
    /*---------NOSOTROS----------*/
    /*-----------------------------------*/
    
    #nosotros {
        margin: 50px 0;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 40% auto 35% 20%;
        grid-template-rows: 15% auto 15%;
        background-color: #f5f5f5;
    
        h4 {
            font-size: 3.5rem;
            color: #222222;
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-end: 3;
            
        }
    
        img {
            display: none;
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 4;
            width: 100%;
        }
    
    }
    
    .parrafo__nosotros {
        display: none;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        background-color: #27386b;
        color: whitesmoke;
        padding: 15% 10%;
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    .boton-servicios {
        background-color: #2d417e;
        border: none;
        width: 200px;
        height: 10%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
        transition: background-color 0.3s;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
        margin-top: 10%;
    
    
        &:hover {
            background-color:#27386b;
            border: none;
            width: 200px;
            height: 10%;
            font-size: 1.3rem;
            font-weight: 200;
            text-decoration: none; 
            grid-row-start: 2;
            margin-top: 10%;
        }
    
        a  {
            text-decoration: none;
        }
    }
    
     /*-----------------------------------*/
    /*---------CARRUSEL EMPRESAS---------*/
    /*-----------------------------------*/
    
    #carrusel-empresas {
        @mixin white-gradient {
            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        }
        
         $animationSpeed: 40s;
        
        
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 7))}
        }
        
        
        
        .slider {
            background: white;
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            height: 150px;
            margin: 2% 0;
            overflow:hidden;
            position: relative;
            width: 100%;
            
            &::before,
            &::after {
                @include white-gradient;
                content: "";
                height: 150px;
                position: absolute;
                width: 200px;
                z-index: 2;
            }
            
            &::after {
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }
        
            &::before {
                left: 0;
                top: 0;
            }
            
            .slide-track {
                animation: scroll $animationSpeed linear infinite;
                display: flex;
                width: calc(250px * 14);
            }
            
            .slide {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    
    
     /*-----------------------------------*/
    /*---------CARRUSEL CERTIFICACIONES ---------*/
    /*-----------------------------------*/
    #carrusel-certificaciones {
        @mixin white-gradient {
            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        }
        
         $animationSpeed: 40s;
        
        
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 7))}
        }
        
        
        
        .slider {
            background: white;
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            height: 150px;
            margin: 2% 0;
            overflow:hidden;
            position: relative;
            width: 100%;
            
            &::before,
            &::after {
                @include white-gradient;
                content: "";
                height: 150px;
                position: absolute;
                width: 200px;
                z-index: 2;
            }
            
            &::after {
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }
        
            &::before {
                left: 0;
                top: 0;
            }
            
            .slide-track {
                animation: scroll $animationSpeed linear infinite;
                display: flex;
                width: calc(250px * 14);
            }
            
            .slide {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    
    
    /*-----------------------------------*/
    /*---------SERVICIOS----------*/
    /*-----------------------------------*/
    
    #servicios {
        margin-top: 75px;
        height: 70vh;
        display: grid;
        width: 100%;
        grid-template-columns: 33%  33%  33% ;
        grid-template-rows: 15% auto 15%;
        justify-items: center;
    }
    
    .tit-servicio {
        margin-top: 100px;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
    
    }
    
    .cards-servicio {
        font-size: 2rem;
        background-image: url("imagenes/s5-nosotros.jpg");
        background-size: cover;
        background-position: center;
        width: 90%;
        filter: blur(3px);
        color: blue;
        text-align: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.5s cubic-bezier(0.1, 0.14, 0.1, 1);
        // border: 1px solid #222222;
        grid-row-start: 1;
        grid-row-end: 3;
    
        h3 {
            color: violet;
            
        }
    
        &::after {
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            // -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    
        &:hover {
            transform: scale(1.1, 1.1);
            background-image: url("imagenes/s5-nosotros.jpg");
           filter: blur(0px);
            background-size: cover;
            background-position: center;
            border: 1px solid transparent;
            z-index: 3;
        }
    
        &:hover::after {
            opacity: 1;
        }
        
        
    }
    /*-----------------------------------*/
    /*---------BANNER BOT----------*/
    /*-----------------------------------*/
    
    #banner-bot {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagenes/header.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 525px;
        margin-top: 70px;
        display: grid;
        grid-template-columns: auto  50%  auto ;
        grid-template-rows: 20% auto auto;
    
        .banner {
            text-align: center;
            align-items: center;
            grid-column-start: 2;
            grid-row-start: 2;
        }
    
        h4 {
            margin-top: 3%;
            color: whitesmoke;
            font-size: 3.5rem;
            font-weight: 200;
        }
    
            .boton-hero-banner {
                color: whitesmoke;
                background-color:#2d417e;
                border: 1px solid #2d417e;
                width: 225px;
                height: 20%;
                font-size: 1.3rem;
                font-weight: 200;
                text-decoration: none; 
                margin-top: 5%;
                transition: background-color 0.3s, border 0.3s;
                cursor: pointer;
            
            
                &:hover {
                
                    background-color: transparent;
                    border: 1px solid #ead2a1 ;
                    width: 225px;
                    height: 20%;
                    font-size: 1.3rem;
                    font-weight: 100;
                    text-decoration: none; 
                    margin-top: 5%;
                    transition: background-color 0.5s, border 0.5s;
                    cursor: pointer;
                }
            
                a  {
                    text-decoration: none;
                    font-weight: 200;
                }
            
            }
    
    
        
    }
    
    /*-----------------------------------*/
    /*---------FOOTER----------*/
    /*-----------------------------------*/
    
     
    footer {
        background-color: #efefef;
        
        .contenedor {
            padding-top: 10% ;
            padding-bottom: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            color: #828282;
            
            h4 {
                padding-bottom: 5%;
                font-weight: 300;
                font-size: 1.5rem;
                color: rgb(27, 27, 27);
               }
            
            li {
                list-style: none;
                line-height: 1.8rem;
                
               a {
                   text-decoration: transparent;
                
                &:hover {
                    
                    border-bottom: 1px solid #828282;
                }   
               } 
            }   
    
    
    
           .columna1 {
               display: flex;
               flex-direction: column;
               width: 15%;
               align-content: flex-start;
    
               
                p {
                    align-self: flex-start;
                }
            
           } 
           .columna2 {
            display: flex;
            flex-direction: column;
    
           }
    
           .columna3 {
            display: flex;
            flex-direction: column;
           }
        }
    
        .copyright {
            text-align: center;
            padding-bottom: 7%;
        }
    
    }




}



































