* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: roboto;
}

/*-----------------------------------*/
/*---------HEADER----------*/
/*-----------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagenes/header.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header__nav {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 30%;
}

.texto__header {
    grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end:2 ;
      justify-self: center;
      align-self: center;
     margin-left: 5%;
     margin-top: 5%;
     margin-top: 15%;

     h1 {
        color:  #ead2a1;
        font-weight: 500;
        font-size: 4rem;
        justify-self: center;
        align-self: center;
        margin-right: 200px;
    }

    h2 {
        font-weight: 200;
        font-size: 3.5rem;
        color: white;
        margin-right: 125px;
    }
}

.boton-nav {
    background-color: #2d417e;
    border: none;
    width: 200px;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    transition: background-color 0.3s;

    &:hover {
        background-color:#27386b;
        border: none;
        width: 200px;
        height: 100%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
    }

    a  {
        text-decoration: none;
    }

} 

.boton-hero {
    color: whitesmoke;
    background-color:#2d417e;
    border: 1px solid #2d417e;
    width: 200px;
    height: 5%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    padding: 1.5%;
    margin-top: 1.5%;
    transition: background-color 0.3s, border 0.3s;
    cursor: pointer;


    &:hover {
    
        background-color: transparent;
        border: 1px solid #ead2a1 ;
        width: 200px;
        height: 5%;
        font-size: 1.3rem;
        font-weight: 100;
        text-decoration: none; 
        padding: 1.5%;
        margin-top: 1.5%;
        transition: background-color 0.5s, border 0.5s;
        cursor: pointer;
    }

    a  {
        text-decoration: none;
    }

}

/*-----------------------------------*/
/*---------NAVSS----------*/
/*-----------------------------------*/

nav {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-right: 2.5%;

    li {
        display: inline-block;
        margin: 25px 30px;  
    }

    a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.3rem;
        font-weight: 300;
        display: inline-block;
    }
 }

 .nav-underline {
    &::after {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background: #ead2a1;
        transition: width .4s;
        margin-top: 3px;
    }

    &:hover::after {
        margin-top: 3px;
        width: 100%;
        transition: width .4s;
    }

 }


 /*-----------------------------------*/
/*---------NOSOTROS----------*/
/*-----------------------------------*/

#nosotros {
    margin: 50px 0;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 40% auto 35% 20%;
    grid-template-rows: 15% auto 15%;
    background-color: #f5f5f5;

    h4 {
        font-size: 3.5rem;
        color: #222222;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
        
    }

    img {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 100%;
    }

}

.parrafo__nosotros {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    background-color: #222222;
    color: whitesmoke;
    padding: 15% 10%;
    line-height: 1.5;
}

.boton-servicios {
    background-color: #2d417e;
    border: none;
    width: 200px;
    height: 10%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    transition: background-color 0.3s;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
    margin-top: 10%;


    &:hover {
        background-color:#27386b;
        border: none;
        width: 200px;
        height: 10%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
        grid-row-start: 2;
        margin-top: 10%;
    }

    a  {
        text-decoration: none;
    }
}

 /*-----------------------------------*/
/*---------CARRUSEL---------*/
/*-----------------------------------*/

#carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 20vh;
    margin: 50px 0px;

    img {
        height: 100%;
        width: auto;
        background-size: cover;
        background-position: center;
    }
// checkear titulo de carrusel
    h2 { 
        display: block;
        margin-top: 40px;
        text-align: center;
        color: black;
    }
}



/*-----------------------------------*/
/*---------SERVICIOS----------*/
/*-----------------------------------*/

#servicios {
    margin-top: 60px;
    height: 70vh;
    display: grid;
    grid-template-columns: 33%  33%  33% ;
    grid-template-rows: 15% auto 15%;
}

.tit-servicio {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;

}


.cards-servicio {
    font-size: 2rem;
    background-image: url("s5-nosotros.jpg");
    background-color: #222222;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid #222222;
    grid-row-start: 1;
    grid-row-end: 3;

    &::after {
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
        transform: scale(1.1, 1.1);
        color: white;
       
        border: 1px solid transparent;
        z-index: 3;
    }

    &:hover::after {
        opacity: 1;
    }

}



/*-----------------------------------*/
/*---------FOOTER----------*/
/*-----------------------------------*/
footer {
    display: flex;
    background-color: #333;
    padding: 50px;
    font-size: 1rem;
    justify-content: center;
 
   
  li {
    list-style: none;
    display: inline-block;
    margin:0  20px;
    
    a {
       text-decoration: none;
       color: white;
    }

 
  }
  p {
      
    color: whitesmoke;
    justify-content: center;
    align-items:center;
 }

 }
 