* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: roboto;
}

/*-----------------------------------*/
/*---------HEADER----------*/
/*-----------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagenes/header.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header__nav {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 30%;
}

.texto__header {
    grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end:2 ;
      justify-self: center;
      align-self: center;
     margin-left: 5%;
     margin-top: 5%;
     margin-top: 15%;

     h1 {
        color:  #ead2a1;
        font-weight: 500;
        font-size: 4rem;
        justify-self: center;
        align-self: center;
        margin-right: 200px;
    }

    h2 {
        font-weight: 200;
        font-size: 3.5rem;
        color: white;
        margin-right: 125px;
    }
}

.boton-nav {
    background-color: #2d417e;
    border: none;
    width: 200px;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    transition: background-color 0.3s;

    &:hover {
        background-color:#27386b;
        border: none;
        width: 200px;
        height: 100%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
    }

    a  {
        text-decoration: none;
    }

} 

.boton-hero {
    color: whitesmoke;
    background-color:#2d417e;
    border: 1px solid #2d417e;
    width: 200px;
    height: 5%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    padding: 1.5%;
    margin-top: 1.5%;
    transition: background-color 0.3s, border 0.3s;
    cursor: pointer;


    &:hover {
    
        background-color: transparent;
        border: 1px solid #ead2a1 ;
        width: 200px;
        height: 5%;
        font-size: 1.3rem;
        font-weight: 100;
        text-decoration: none; 
        padding: 1.5%;
        margin-top: 1.5%;
        transition: background-color 0.5s, border 0.5s;
        cursor: pointer;
    }

    a  {
        text-decoration: none;
    }

}

/*-----------------------------------*/
/*---------NAVSS----------*/
/*-----------------------------------*/

nav {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-right: 2.5%;

    li {
        display: inline-block;
        margin: 25px 30px;  
    }

    a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.3rem;
        font-weight: 300;
        display: inline-block;
    }
 }

 .nav-underline {
    &::after {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background: #ead2a1;
        transition: width .4s;
        margin-top: 3px;
    }

    &:hover::after {
        margin-top: 3px;
        width: 100%;
        transition: width .4s;
    }

 }


 /*-----------------------------------*/
/*---------NOSOTROS----------*/
/*-----------------------------------*/

#nosotros {
    margin: 50px 0;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 40% auto 35% 20%;
    grid-template-rows: 15% auto 15%;
    background-color: #f5f5f5;

    h4 {
        font-size: 3.5rem;
        color: #222222;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
        
    }

    img {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 100%;
    }

}

.parrafo__nosotros {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    background-color: #27386b;
    color: whitesmoke;
    padding: 15% 10%;
    line-height: 1.8;
    font-size: 1.2rem;
    font-weight: 300;
}

.boton-servicios {
    background-color: #2d417e;
    border: none;
    width: 200px;
    height: 10%;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none; 
    transition: background-color 0.3s;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
    margin-top: 10%;


    &:hover {
        background-color:#27386b;
        border: none;
        width: 200px;
        height: 10%;
        font-size: 1.3rem;
        font-weight: 200;
        text-decoration: none; 
        grid-row-start: 2;
        margin-top: 10%;
    }

    a  {
        text-decoration: none;
    }
}

 /*-----------------------------------*/
/*---------CARRUSEL EMPRESAS---------*/
/*-----------------------------------*/

#carrusel-empresas {
    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
     $animationSpeed: 40s;
    
    
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }
    
    
    
    .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 150px;
        margin: 2% 0;
        overflow:hidden;
        position: relative;
        width: 100%;
        
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 150px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }
        
        .slide {
            height: 100%;
            width: 100%;
        }
    }
    
}


 /*-----------------------------------*/
/*---------CARRUSEL CERTIFICACIONES ---------*/
/*-----------------------------------*/
#carrusel-certificaciones {
    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
     $animationSpeed: 40s;
    
    
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }
    
    
    
    .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 150px;
        margin: 2% 0;
        overflow:hidden;
        position: relative;
        width: 100%;
        
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 150px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }
        
        .slide {
            height: 100%;
            width: 100%;
        }
    }
    
}





/*-----------------------------------*/
/*---------SERVICIOS----------*/
/*-----------------------------------*/

#servicios {
    margin-top: 60px;
    height: 70vh;
    display: grid;
    grid-template-columns: 33%  33%  33% ;
    grid-template-rows: 15% auto 15%;
}

.tit-servicio {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;

}


.cards-servicio {
    font-size: 2rem;
    background-image: url("imagenes/s5-nosotros.jpg");
    background-size: cover;
        background-position: center;
    // background-color: green;
    filter: blur(3px);
    color: blue;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.1, 0.14, 0.1, 1);
    // border: 1px solid #222222;
    grid-row-start: 1;
    grid-row-end: 3;

    &::after {
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        // -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
        transform: scale(1.1, 1.1);
        background-image: url("imagenes/s5-nosotros.jpg");
       filter: blur(0px);
        background-size: cover;
        background-position: center;
        border: 1px solid transparent;
        z-index: 3;
    }

    &:hover::after {
        opacity: 1;
    }
    
    
}

.card-titulo {
    z-index: 4;
    filter: blur(0px);

    &::before {
        filter: blur(0px);
    }
}

/*-----------------------------------*/
/*---------FOOTER----------*/
/*-----------------------------------*/
footer {
    display: flex;
    background-color: #333;
    padding: 50px;
    font-size: 1rem;
    justify-content: center;
 
   
  li {
    list-style: none;
    display: inline-block;
    margin:0  20px;
    
    a {
       text-decoration: none;
       color: white;
    }

 
  }
  p {
      
    color: whitesmoke;
    justify-content: center;
    align-items:center;
 }

 }
 